/* main.css */

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(46, 48, 48);
    color: antiquewhite;
    font-family: Arial, sans-serif;
}

#error404 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100%;                  /* во всю ширину экрана */
    background-color: rgb(44, 42, 42); /* темный фон */
    display: flex;
    justify-content: center;       /* центрируем по горизонтали */
    align-items: center;           /* центрируем по вертикали */
    padding: 15px 0;               /* вертикальный отступ */
    position: fixed;               /* всегда сверху */
    top: 0;
    left: 0;
    z-index: 1000;                 /* чтобы было поверх всего */
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* лёгкая тень */
}

/* Ссылки в навбаре */
nav a {
    color: rgb(239, 241, 244);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
}

/* Контейнер под шапкой */
#content {
    padding-top: 70px; /* чтобы контент не прятался под фиксированным nav */
}
