<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    
<nav>
    <a href="/">NFT store</a>
    <a href="/auctions">Auctions</a>
    <a href="/profile">Profile</a>
    <a href="/login">Sign in</a>
    <a href="/setNFT">SetNFT</a>
</nav>

<div id="content">
    {% block body %}   
    {% endblock %}
</div>

<div id="auth">
    {% block auth %}
    {% endblock %}
</div>

</body>
</html>
