<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/main.css" />
    <link rel="icon" href="data:;base64,=">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav>
      <div class="nav-center">
        <a href="/">NFT store</a>
        <a href="/collection">Collection store</a>
        <a href="/auctions">Auctions</a>
        <a href="/setNFT">create NFT</a>
        <a href="/setCollection">create collection</a>
      </div>

      <div class="nav-right">
        {% if not session.get("public_key") %}
        <a id="acc" href="/login">Sign in</a>
        {% else %}
        <a href="/profile">Profile</a>
        {% endif %}
      </div>
    </nav>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div style="position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); 
            		background: #f8d7da; border: 1px solid red; color: red; padding: 15px 25px; 
            		border-radius: 5px; max-width: 90%; z-index: 1000; box-shadow: 0 4px 12px rgba(0,0,0,0.15);">
    			{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}


    <div id="content">{% block body %} {% endblock %}</div>

    <div id="auth">{% block auth %} {% endblock %}</div>
  </body>
</html>
