<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/main.css" />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav>
      <div class="nav-center">
        <a href="/">NFT store</a>
        <a href="/auctions">Auctions</a>
        <a href="/setNFT">createNFT</a>
        <a href="/setNFTInStore">addStore</a>
      </div>

      <div class="nav-right">
        {% if not session.get("pk") %}
        <a id="acc" href="/login">Sign in</a>
        {% else %}
        <a href="/profile">Profile</a>
        {% endif %}
      </div>
    </nav>

    <div id="content">{% block body %} {% endblock %}</div>

    <div id="auth">{% block auth %} {% endblock %}</div>
  </body>
</html>
