{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block body
%}
<div>
  <h1>Profile</h1>
  <p>Адрес: {{ public_key }}</p>
  <p>balance: {{ balance }}</p>
  <p>name: {{ data[0] }}</p>
</div>

<a href="{{ url_for('user.approve') }}" class="button">Approve contract</a>
{% if session.get('pk') %}
<a href="{{ url_for('user.logout') }}" class="button">Logout</a>
{% else %}
<p>Вы не вошли в систему</p>
{% endif %} 

<!-- struct structNFT {
        0 uint256 id;
        1 string name;
        2 string description;
        3 string imgPath;
        4 uint256 price; // Заполняется только после помещения в магазин
        5 uint256 amount; // Также выступает в роли проверки существования nft
        6 uint256 creationDate;
    } -->

<div class="nft-grid">
	{% for item in nft %}
		<div class="info">
		<img src="{{ item[3] }}" alt="nft_img">
			<div>
				<h3>id: {{ item[0] }}</h3>
				<h3>{{ item[1] }}</h3>
				<p>{{ item[2] }}</p>
				<p>Количество: {{ item[5] }}</p>

				
			<details>
				<summary class="sell-btn">Выставить на продажу</summary>

				<form action="{{ url_for('nft.setNFTInStore', id=item[0]) }}" method="POST">
					<input type="hidden" name="id" value="{{ item[0] }}">

					<label>Количество:</label>
					<input type="number" name="amount" min="1" required>

					<label>Цена:</label>
					<input type="number" name="price" min="1" required>

					<button type="submit">Подтвердить</button>
				</form>
			</details>
			<details>
				<summary class="sell-btn">Добавить в коллекцию</summary>

				<form action="{{ url_for('coll.setNFTInColl', id=item[0]) }}" method="POST">
					<input type="hidden" name="id_nft" value="{{ item[0] }}">

					<label>Количество:</label>
					<input type="number" name="amount" min="1" required>

					<label>ID коллекции:</label>
					<input type="number" name="id_coll" min="0" required>

					<button type="submit">Подтвердить</button>
				</form>
			</details>
			<details>
				<summary class="sell-btn">Выставвить на аукцион</summary>

				<form action="{{ url_for('auc.setAucNFT', id=item[0]) }}" method="POST">
					<input type="hidden" name="id" value="{{ item[0] }}">

					<label>Количество:</label>
					<input type="number" name="amount" min="1" required>

					<label>Минимальная ставка:</label>
					<input type="number" name="min_bet" min="0" required>

					<label>Окончание аукциона в секундах:</label>
					<input type="number" name="end_auction" min="1" required>

					<button type="submit">Подтвердить</button>
				</form>
			</details>
			</div>
		</div>
	{% endfor %}
</div>
<div>
	<hr>
</div>
<h1>Collection</h1>
<div class="nft-grid">
	{% for item in collection %}
	    <!-- struct structCollectionNFT {
        uint256 id;
        string name;
        string description;
        uint256 price; // Заполняется только после помещения в магазин
        structNFTsInCollection[] NFTInCollection;
        bool state; // Нужно для того чтобы понять в магазине или нет
        bool existence; // Нужно для проверки того, есть ли такая коллекция у юзера
        uint256 creationDate;
    } -->
		<div class="info">
			<p>id: {{ item[0] }}</p>
			<p>name: {{ item[1] }}</p>
			<p>description: {{ item[2] }}</p>
			<p>all nft in collection: {{ item[4] }}</p>
			<p>state: {{ item[5] }}</p>
			<details>
				<summary class="sell-btn">Выставить на продажу</summary>

				<form action="{{ url_for('coll.setCollectionInStore', id=item[0]) }}" method="POST">
					<input type="hidden" name="id" value="{{ item[0] }}">

					<label>Цена:</label>
					<input type="number" name="price" min="1" required>

					<button type="submit">Подтвердить</button>
				</form>
			</details>
		</div>

	{% endfor %}

</div>

{% endblock %}
