{% extends "base.html" %}
{% block title %}add NFT{% endblock %}

{% block body %}

<div>
  <h1>Добавить NFT в магазин</h1>
  <form method="post">

    <label for="amount">ID:</label><br>
    <input type="number" name="id" id="id" placeholder="Введите ID"><br><br>

    <label for="amount">Количество:</label><br>
    <input type="number" name="amount" id="amount" placeholder="Введите количество"><br><br>

    <label for="amount">Цена:</label><br />
    <input type="number" name="price" id="price" placeholder="Введите цену" /><br /><br />

    <input type="submit" value="Добавить">
  </form>
</div>

{% endblock %}
